colorama
command_runner
Delorean
emoji
httpx
loguru
psutil
pycryptodome
PyGetWindow
pywin32
requests
setuptools
tinyaes
tls_client
websocket_client
WMI
pwinput
py-cpuinfo
pyinstaller
discord.py-self
pynacl
ffmpeg
anticaptchaofficial
capmonster_python
capsolver_python
ordered-set
ffmpeg_downloader
pyperclip
colr